<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".json" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" />
        <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" />
        <add extension=".svg" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" />
        <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" />
        <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" />
      </profiles>
    </caching>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <rule name="Hide .html ext">
          <match url="^(.*)" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
